---
// Component Imports
import Layout from "../layouts/Layout.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Layout title="Harshith Iyer | harbar20">
    <h1 class="text-2xl">Harshith Iyer</h1>
    <h2 class="text-xl">CS '25 @ <a href="https://wpi.edu/">WPI</a></h2>
    <ul class="flex gap-2">
        <li><a href="https://github.com/harbar20">Github</a></li>
        <li><a href="https://twitter.com/harbar2021">Twitter</a></li>
        <li><a href="mailto:harbar2021@gmail.com">Email</a></li>
        <li><a href="https://linkedin.com/in/harbar20">LinkedIn</a></li>
    </ul>
    <p>
        Currently working on <strong>the site you're looking at now</strong>!
        (this is temporary)
    </p>
    <br>
    <p>
        <h3 class="text-lg">Previous projects:</h3>
        <ul>
            <li>
                <strong
                    ><a href="https://github.com/PorygonBot/bot-ts">Porygon</a
                    ></strong
                > - Discord bot that analyzes Pokémon battles.
            </li>
            <li>
                <strong>Privia</strong> - full-stack trivia application. Used by
                and built at <a href="https://jahnelgroup.com">Jahnel Group</a>.
            </li>
            <li>
                <strong
                    ><a href="https://github.com/harbar20/3py3">3py3</a></strong
                > - Rubik's Cube in the terminal.
            </li>
            <li>
                <strong
                    ><a href="https://github.com/harbar20/autoplaylist"
                        >autoplaylist</a
                    ></strong
                > - Slack app that adds song links sent in channel to all music
                platforms.
            </li>
        </ul>
    </p>
</Layout>
