---
import { BloodSugar } from "../components/BloodSugar";
import type { BGData } from "@/types";

// Component Imports

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/

let bgData = await fetch("https://bg.harbar2021.workers.dev/").then((r) => {
    if (!r.ok) {
        return Promise.resolve({
            value: NaN,
            trend: "none",
            displayTime: new Date().toISOString(),
        } as BGData);
    }

    return r.json();
});

function calculateBgColor(num: number) {
    const MIN_NUMBER = 40;
    const MAX_NUMBER = 400;

    const GREEN_START = 90;
    const GREEN_END = 120;

    const HUE_RED = 0;
    const HUE_GREEN = 120;

    let hue;

    if (num >= GREEN_START && num <= GREEN_END) {
        hue = HUE_GREEN;
    } else if (num < GREEN_START) {
        const rangeSize = GREEN_START - MIN_NUMBER;
        const hueRangeSize = HUE_GREEN - HUE_RED;
        const progress = (num - MIN_NUMBER) / rangeSize;
        hue = HUE_RED + progress * hueRangeSize;
    } else {
        const rangeSize = MAX_NUMBER - GREEN_END;
        const hueRangeSize = HUE_GREEN - HUE_RED;
        const progress = (num - GREEN_END) / rangeSize;
        hue = HUE_GREEN - progress * hueRangeSize;
    }

    hue = Math.max(0, Math.min(360, hue));

    // Define thresholds and corresponding Tailwind classes
    // These are approximations; you might need to tweak them
    if (hue >= 90 && hue <= 150) {
        return "text-green-500"; // Close to HUE_GREEN (120)
    } else if ((hue > 60 && hue < 90) || (hue > 150 && hue < 240)) {
        return "text-yellow-400"; // Close to HUE_YELLOW (60)
    } else if ((hue > 50 && hue <= 60) || (hue >= 240 && hue < 300)) {
        return "text-orange-400"; // Close to HUE_ORANGE (30)
    } else {
        return "text-red-500"; // Close to HUE_RED (0/360)
    }
}
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Harshith Iyer | harbar20</title>
    </head>

    <body
        class="flex items-center justify-center bg-black font-bold text-white"
    >
        <div class="flex h-full max-w-screen-lg flex-col overflow-hidden pt-8">
            <div id="title" class="flex flex-row gap-2">
                <img
                    src="/me.jpeg"
                    alt="Harshith Iyer"
                    class="size-48 rounded-full"
                />
                <div class="flex flex-col gap-0.5 px-8 py-2">
                    <h1 class="text-7xl">Harshith Iyer</h1>
                    <h3 class="text-3xl">Software Engineer</h3>
                    <div class="flex flex-row divide-x-2 pl-0.5">
                        <div class="flex flex-row gap-1">
                            <p>E</p>
                            <p>G</p>
                            <p>T</p>
                            <p>I</p>
                            <p>R</p>
                            <p>B</p>
                            <p>L</p>
                        </div>
                        <BloodSugar
                            client:load
                            bgData={bgData}
                            color={calculateBgColor(bgData.value)}
                        />
                    </div>
                    <div class="font-semibold">
                        <p>Software Engineer</p>
                        <p>
                            Worcester Polytechnic Institute <span
                                class="font-light">CS '25</span
                            >
                        </p>
                        <p>prev. @Verizon @JahnelGroup</p>
                    </div>
                </div>
            </div>
            <section class={`w-full flex-grow grid grid-cols-12 gap-2 pt-4`}>
                <div
                    class={`col-span-12 bg-teal-500 bg-opacity-20 border-2 border-teal-500 rounded-xl p-2`}
                >
                    <h3 class="text-2xl">MTG Guess Who</h3>
                    <p class="font-normal">
                        A <i>Guess Who</i>-style game to play with the top 100
                        commander cards in Magic: The Gathering.
                    </p>
                </div>
                <div
                    class={`col-span-8 bg-red-500 bg-opacity-20 border-2 border-red-500 rounded-xl p-2`}
                >
                    <h3 class="text-2xl">Verizon Family Line</h3>
                    <p class="font-normal">
                        Tested and deployed the Family Line feature of the
                        Verizon Family app.
                    </p>
                </div>
                <div
                    class={`col-span-4 bg-green-500 bg-opacity-20 border-2 border-green-500 rounded-xl p-2`}
                >
                    <h3 class="text-2xl">Fidelity FMT</h3>
                    <p class="font-normal">
                        Prototyped and built a data analytics platform for
                        Fidelity's customer data. Analyzed Fidelity customer and
                        US Census data to find areas for expansion.
                    </p>
                </div>
                <div
                    class={`col-span-4 bg-orange-500 bg-opacity-20 border-2 border-yellow-500 rounded-xl p-2`}
                >
                    <h3 class="text-2xl">Basketball Win Prediction AI</h3>
                    <p class="font-normal">
                        Built and trained multiple AI models using various
                        algorithms to predict the results of future NBA
                        matchups.
                    </p>
                </div>
                <div
                    class={`col-span-8 bg-purple-500 bg-opacity-20 border-2 border-purple-500 rounded-xl p-2`}
                >
                    <h3 class="text-2xl">Calendar App</h3>
                    <p class="font-normal">
                        Built a calendar app with a todo list, because no
                        existing calendar app was good enough.
                    </p>
                </div>
                <div
                    class={`col-span-7 bg-blue-500 bg-opacity-20 border-2 border-blue-500 rounded-xl p-2`}
                >
                    <h3 class="text-2xl">
                        Brigham & Women's Hospital Map Application
                    </h3>
                    <p class="font-normal">
                        Led a 10-person team to build a full-stack map
                        application designed for use in a hospital.
                    </p>
                </div>
                <div
                    class={`col-span-5 bg-pink-500 bg-opacity-20 border-2 border-pink-500 rounded-xl p-2`}
                >
                    <h3 class="text-2xl">Porygon</h3>
                    <p class="font-normal">
                        Built and scaled a Discord bot that analyzes Pokemon
                        battles. Used by 1,500+ servers and 100,000+ users.
                    </p>
                </div>
                <div
                    class={`col-span-3 bg-cyan-500 bg-opacity-20 border-2 border-cyan-500 rounded-xl p-2`}
                >
                    <h3 class="text-2xl">Privia</h3>
                    <p class="font-normal">
                        Built an internal prototype Trivia application for
                        Jahnel Group.
                    </p>
                </div>
                <div
                    class={`col-span-9 bg-lime-500 bg-opacity-20 border-2 border-lime-500 rounded-xl p-2`}
                >
                    <h3 class="text-2xl">CHUV Inclusive Village Project</h3>
                    <p class="font-normal">
                        Researched and wrote a 100+ page report on
                        state-of-the-art solutions around the world to housing
                        and treating people recovering from severe neurolesions
                        for Centre Hospitalier Universitaire Vaudois in
                        Lausanne, Switzerland.
                    </p>
                </div>
            </section>
        </div>
    </body>
</html>
